---
import FavoriteButton from "./FavoriteButton.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2">
  {Astro.props.movies.map((m) => (
    <div class="flex m-2">
      <img
        src={`https://image.tmdb.org/t/p/w500${m.poster_path}`}
        class="rounded-tl-lg rounded-bl-lg aspect-w-5 aspect-h-7 w-1/4"
      />
      <div class="w-3/4 flex flex-col">
        <div class="font-bold text-xl px-4 bg-indigo-800 text-white py-2 rounded-tr-md">{m.original_title}</div>
        <div class="border-indigo-900 border-b-2 border-r-2 rounded-br-lg flex-grow pt-3">
          <div class="italic line-clamp-2 px-4">{m.overview}</div>
          <div class="flex justify-between px-4 pt-3 items-center">
            <FavoriteButton movieId={m.id} />
            <div>{m.vote_average.toFixed(1)} out of 10</div>
          </div>
        </div>
      </div>
    </div>
  ))}
</div>
